<header class="header">
  <div class="header--wrap">
    <div class="header--right">
      <div class="header--right__main-logo"></div>
      <nav class="header--right__nav">
        <ul class="header--right__nav-ul">
          <li>
            <a href="#">
              <div>要件一覧</div>
              <div class="header--right__nav-buttom header--active"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>FAQ</div>
              <div class="header--right__nav-buttom"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>過去履歴</div>
              <div class="header--right__nav-buttom"></div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header--left"></div>
  </div>
</header>