<header class="header">
  <div class="header--wrap">
    <div class="header--right">
      <a href="/portral/requirements"><img src="../../static/img/logo_icon.png" class="header--right__main-logo" /></a>
      <nav class="header--right__nav">
        <ul class="header--right__nav-ul">
          <li>
            <a href="/portral/requirements">
              <div>要件一覧</div>
              <div id="portral" class="header--right__nav-buttom"></div>
            </a>
          </li>
          <li>
            <a href="/inquiry">
              <div>FAQ</div>
              <div id="inquiry" class="header--right__nav-buttom"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>過去履歴</div>
              <div class="header--right__nav-buttom"></div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="/accounts">
      <div class="header--left">
        <img src="../../static/img/user.png" class="user-icon" />
      </div>
    </a>
  </div>
</header>