<div class="requirements">
  <div class="requirements--titles">
    <h2 class="requirements--titles__title">{タイトル}</h2>
    <div class="requirements--titles__contents">
      <div class="requirements--titles__contents-title">{応募数}</div>
      <div class="requirements--titles__contents-border"></div>
      <div class="requirements--titles__contents-main">○人</div>
    </div>
  </div>
  <div class="requirements--contents">
    <div class="requirements--contents__requirement">
      <h3 class="requirements--contents__title">要件</h3>
      <p class="requirements--contents__content">{}</p>
    </div>
    <div>
      <h3 class="requirements--contents__title">使用技術</h3>
      <div class="requirements--contents__content">
        <h4>フロントエンド</h4>
        <div class="requirements--contents__content-tech">
          <div class="requirements--contents__content-tech-icon">{}</div>
        </div>
      </div>
      <div class="requirements--contents__content">
        <h4>バックエンド</h4>
        <div class="requirements--contents__content-tech">
          <div class="requirements--contents__content-tech-icon">{}</div>
        </div>
      </div>
      <div class="requirements--contents__content">
        <h4>インフラ</h4>
        <div class="requirements--contents__content-tech">
          <div class="requirements--contents__content-tech-icon">{}</div>
        </div>
      </div>
    </div>
    <div class="requirements--contents__articles">
      <h3 class="requirements--contents__title">関連記事</h3>
      <div class="requirements--contents__content">
        <h4>フロントエンド</h4>
        <div class="requirements--contents__article-list">
          <a href="#" class="requirements--contents__article">
            <div class="requirements--contents__article-img">{画像}</div>
            <div class="requirements--contents__article-text">{テキスト}</div>
          </a>
        </div>
      </div>
      <div class="requirements--contents__content">
        <h4>バックエンド</h4>
        <div class="requirements--contents__article-list">
          <a href="#" class="requirements--contents__article">
            <div class="requirements--contents__article-img">{画像}</div>
            <div class="requirements--contents__article-text">{テキスト}</div>
          </a>
        </div>
      </div>
      <div class="requirements--contents__content">
        <h4>インフラ</h4>
        <div class="requirements--contents__article-list">
          <a href="#" class="requirements--contents__article">
            <div class="requirements--contents__article-img">{画像}</div>
            <div class="requirements--contents__article-text">{テキスト}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>