{% extends 'base/base_user.html' %}
{% block head %}
  <title>FAQ回答</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/components/header.css' %}" />
  <link rel="stylesheet" href="{% static 'css/answers/index.css' %}" />
{% endblock %}
{% block body %}
  {% include 'components/header.html' %}
  <div class="body--wrap">
    <div class="FAQ-detail--card">
      <div class="FAQ-detail--titles">
        <div class="FAQ-detail--titles-left">
          <div class="FAQ-detail--titles__Q">Q</div>
          <div class="FAQ-detail--titles__title">{{question.title}}</div>
        </div>
        {% if question.user_name %}
        <div class="FAQ-detail--titles-right">
          <div class="FAQ-detail--titles__user-name">{{question.user_name}}</div>
          <div class="FAQ-detail--titles__user-icon"></div>
        </div>
        {% endif %}
      </div>
      <div class="FAQ-detail--contents">
        <div>質問チーム：{{question.team_name}}</div>
        <div>質問領域：{{question.category}}</div>
        <div>
          <div>質問内容</div>
          <p class="FAQ-detail--contents__text">{{question.content}}</p>
        </div>
      </div>
    </div>
    {% if question.answers %}
    {% for answer in question.answers %}
    <div class="FAQ-detail--card">
      <div class="FAQ-detail--titles">
        <div class="FAQ-detail--titles-left">
          <div class="FAQ-detail--titles__A">A</div>
        </div>
        {% if answer.user %}
        <div class="FAQ-detail--titles-right">
          <div class="FAQ-detail--titles__user-name">{{answer.user}}</div>
          <div class="FAQ-detail--titles__user-icon"></div>
        </div>
        {% endif %}
      </div>
      <div class="FAQ-detail--contents">
        <div>
          <div>回答</div>
          <p class="FAQ-detail--contents__text">{{answer.content}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="FAQ-detail--card">
      <div class="FAQ-detail--titles">
        <div class="FAQ-detail--titles-left">
          <div class="FAQ-detail--titles__A">A</div>
        </div>
      </div>
      <form class="FAQ-detail--contents" method="post" action="{% url 'answers:create_answer' question.id %}">
      {% csrf_token %} 
        <div>
          <div>回答</div>
          <textarea name="content" class="FAQ-detail--contents__text-answer" required></textarea>
        </div>
        <div class="FAQ-button--content">
          <input type="submit" class="FAQ-detail--answer" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}