.body--wrap {
  margin-bottom: 120px;
}

.FAQ-lists {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.FAQ-list {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px 0 rgba(87,97, 83, 0.1);
}

.FAQ-list--left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.FAQ-list--Q {
  color: #51A243;
  font-size: 48px;
  font-weight: bold;
}

.FAQ-list--title {
  font-size: 28px;
  font-weight: bold;
}

.FAQ-list--right {
  display: flex;
  align-items: center;
  gap: 4px;
}

.FAQ-list--attention {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 20px;
  font-weight: bold;
  color: #C9391B;
  border: 2px solid #C9391B;
  border-radius: 16px;
}

.FAQ-list--arrow {
  width: 12px;
  height: 12px;
  border-right: 3px solid #3F4A3C;
  border-bottom: 3px solid #3F4A3C;
  transform: rotate(-45deg);
}

.FAQ--create {
  position: fixed;
  bottom: 100px;
  right: 200px;
  background-color: #EE6720;
  border-radius: 32px;
  border: none;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  padding: 4px 32px;
}

.FAQ--create:hover {
  opacity: 0.75;
}