body {
  color: #3F4A3C;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input[type=number], input[type=text] {
  border: none;
}

input[type=number], input[type=text] {
  padding: 0;
}

input, textarea {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3F4A3C;
}

a:active {
  color: #3F4A3C;
}

a:hover {
  opacity: 0.75;
}

.body--wrap {
  width: 80%;
}