.account {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.account--contents {
  background-color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
  border-radius: 20px;
}

.account--icon {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #51A243;
}

.account--content {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.account--label {
  color: #51A243;
  font-size: 32px;
  font-weight: bold;
}

.account--value {
  font-size: 32px;
  font-weight: bold;
  margin-left: 16px;
}

.account--logout {
  width: 95%;
  color: #C9391B;
  font-size: 24px;
  font-weight: bold;
}