.body--wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 152px;
}

.FAQ-detail--card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 20px;
}

.FAQ-detail--titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FAQ-detail--titles-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.FAQ-detail--titles__Q {
  color: #51A243;
  font-size: 64px;
  font-weight: bold;
}

.FAQ-detail--titles__A {
  color: #EE6720;
  font-size: 64px;
  font-weight: bold;
}

.FAQ-detail--titles__title {
  font-size: 40px;
  font-weight: bold;
}

.FAQ-detail--titles-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.FAQ-detail--titles__user-name {
  font-size: 24px;
  font-weight: bold;
}

.FAQ-detail--titles__user-icon {
  width: 50px;
  height: 50px;
  background-color: #51A243;
  border-radius: 25px;
}

.FAQ-detail--contents {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: bold;
  gap: 20px;
  width: 100%;
}

.FAQ-detail--contents__text {
  font-size: 24px;
  font-weight: lighter;
  padding-left: 32px;
  margin-top: 20px;
}

.FAQ-detail--contents__text-answer {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 20px;
  border: 2px solid #3F4A3C;
  border-radius: 12px;
  width: 100%;
  height: 300px;
}

.FAQ-button--content {
  display: flex;
  justify-content: center;
}

.FAQ-detail--answer {
  background-color: #EE6720;
  border-radius: 32px;
  border: none;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  padding: 4px 32px;
  width: 300px;
  text-align: center;
}

.FAQ-detail--answer:hover {
  opacity: 0.75;
}