<!DOCTYPE html>
<html lang="ja">
    
    <head>
        <meta charset="utf-8">
        <title>要件定義作成</title>

    </head>
    <body>
     

      {% if messages %}
        <ul>
         {% for message in messages %} 
           <li>{{ message }}</li>
         {% endfor %}
        </ul>
      {% endif %}
         
      <form class="requirements_form" method="post">
        {% csrf_token %}
        <div>
          <label for="title">タイトル</label>
          <input
            type="text"
            placeholder="タイトル"
            name="title"
            id="title"  
            maxlength="255"
          />
        </div>
        <div>
          <label for="content">要件</label>
          <textarea
            placeholder="内容を入力しください"
            name="content"
            id="content"
          ></textarea>
        </div>

        <div>
          <label for="content">難易度</label>
          <select name="difficulty" id="">
            <option value="low">初級</option>
            <option value="mid">中級</option>
            <option value="high">上級</option>
          </select>
        </div>

        <div>
          <label for="participants">参加人数</label>
          <input
            type="text"
            placeholder="参加人数を入力してください"
            name="participants"
            id="participants"
          />
        </div>

        <div>
          <label for="team">チーム名</label>
          <input
            type="text"
            placeholder="チーム名を入力してください"
            name="team"
            id="team"
          />
        </div>


        <!--フロントエンド記事-->
        <h2>記事</h2>
        <label>フロントエンド</label>
        <div>
          <label for="frontend-title">タイトル</label>
          <input
           type="text"
           name="frontend-title"
           id="frontend-title"
           placeholder="タイトルを入力してください">
        </div>
        <div>
          <label for="frontend-url">URL</label>
          <input
           type="url"
           id="frontend-url"
           name="frontend-url"
           placeholder="urlを入力してください">
        </div>

        <div>
          <label for="frontend-title">タイトル</label>
          <input
           type="text"
           name="frontend-title"
           id="frontend-title"
           placeholder="タイトルを入力してください">
        </div>
        <div>
          <label for="frontend-url">URL</label>
          <input
           type="url"
           id="frontend-url"
           name="frontend-url"
           placeholder="urlを入力してください">
        </div>

        <!--バックエンド記事-->
        <label>バックエンド</label>
        <div>
          <label for="backend-title">タイトル</label>
          <input
           type="text"
           name="backend-title"
           id="backend-title"
           placeholder="タイトルを入力してください">
        </div>
        <div>
          <label for="backend-url">URL</label>
          <input
           type="url"
           id="backend-url"
           name="backend-url"
           placeholder="urlを入力してください">
        </div>

        <div>
          <label for="backend-title">タイトル</label>
          <input
           type="text"
           name="backend-title"
           id="backend-title"
           placeholder="タイトルを入力してください">
        </div>
        <div>
          <label for="backend-url">URL</label>
          <input
           type="url"
           id="backend-url"
           name="backend-url"
           placeholder="urlを入力してください">
        </div>

        <!--インフラ記事-->
        <label>インフラ</label>
        <div>
          <label for="infra-title">タイトル</label>
          <input
           type="text"
           name="infra-title"
           id="infra-title"
           placeholder="タイトルを入力してください">
        </div>
        <div>
          <label for="infra-url">URL</label>
          <input
           type="url"
           id="infra-url"
           name="infra-url"
           placeholder="urlを入力してください">
        </div>

        <div>
          <label for="infra-title">タイトル</label>
          <input
           type="text"
           name="infra-title"
           id="infra-title"
           placeholder="タイトルを入力してください">
        </div>
        <div>
          <label for="infra-url">URL</label>
          <input
           type="url"
           id="infra-url"
           name="infra-url"
           placeholder="urlを入力してください">
        </div>



        <h2>使用技術</h2>
        <!-- 使用技術のボタン -->
        <label>
            <input type="checkbox" name="techs" value="HTML">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/html-5_5968267.png" width="40px">
            HTML
        </label>

        <label>
            <input type="checkbox" name="techs" value="CSS">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/css-3_5968242.png" width="40px">
            CSS
        </label>

        <label>
            <input type="checkbox" name="techs" value="JavaScript">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/js_5968292.png" width="40px">
            JavaScript
        </label><br>

        <label>
            <input type="checkbox" name="techs" value="Python">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/python-logo-only.png" width="40px">
            Python
        </label>

        <label>
            <input type="checkbox" name="techs" value="Flask">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/icons8-%E3%83%95%E3%83%A9%E3%82%B9%E3%82%B3-100.png" width="40px">
            Flask
        </label>

        <label>
            <input type="checkbox" name="techs" value="Django">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/django-logo-negative.png" width="40px">
            Django
        </label>

        <label>
            <input type="checkbox" name="techs" value="Java">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/icons8-java-coffee-cup%E3%81%AE%E3%83%AD%E3%82%B3%E3%82%99-96.png" width="40px">
            Java
        </label>

        <label>
            <input type="checkbox" name="techs" value="Quarkus">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/quarkus_icon_512px_default.png" width="40px">
            Quarkus
        </label>

        <label>
            <input type="checkbox" name="techs" value="MySQL">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/logo-mysql-170x115.png" width="40px">
            MySQL
        </label>

        <label>
            <input type="checkbox" name="techs" value="Postgre">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/elephant.png" width="40px">
            Postgre
        </label><br>

        <label>
            <input type="checkbox" name="techs" value="Docker">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/docker-mark-blue.png" width="40px">
            Docker
        </label>

        <label>
            <input type="checkbox" name="techs" value="AWS">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/icons8-aws-96.png" width="40px">
            AWS
        </label>

        <label>
            <input type="checkbox" name="techs" value="Teraform">
            <img src="https://hackathon-dev-image-dteam.s3.ap-northeast-1.amazonaws.com/icons8-%E3%83%86%E3%83%A9%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0-96.png" width="40px">
            Teraform
        </label>


        

         <div>
            <button type="submit" name="save_type" value="public">公開して保存</button>
            <button type="submit" name="save_type" value="private">非公開で保存</button>
         </div>
      </form>

      <a href="{% url 'accounts:login' %}">
        <button type="button">ログイン画面に戻る</button>
      </a>

    </body>
   



</html>

