<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../../static/img/favicon.ico" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base/base_user.css' %}" />
    {% block head %}
    {% endblock %}
  </head>
  <body class="body">
    {% block body %}
    {% endblock %}
    <script src="{% static 'js/set_header_active.js' %}"></script>
    <script>setHeaderActiveByPath();</script>
  </body>
</html>