.body--wrap {
  display: flex;
  align-items: flex-start;
  gap: 2%;
  margin-bottom: 152px;
}

.requirements-form {
  background-color: #ffffff;
  border-radius: 20px;
  width: 30%;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.requirements-form-title {
  font-size: 28px;
}

.requirements-form--sub-title {
  font-size: 24px;
}

.requirements-form--column {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 8px;
}

.requirements-form input[type=number], 
.requirements-form input[type=text] {
  border-bottom: 2px solid #9AB292;
}

.requirements-form--input-text {
  height: 28px;
  width: 180px;
  font-size: 20px;
  color: #9AB292;
}

.requirements-form--input-number {
  width: 80px;
}

.requirements-form--input-text::placeholder {
  font-size: 20px;
  color: #9AB292;
}

.requirements-form--text {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.requirements-form--text input[type=radio] {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}

.requirements-form--text label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.requirements-form--text label::before,
.requirements-form--text label::after {
  content: "";
  display: block; 
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.requirements-form--text label::before {
  background-color: #fff;
  border: 1px solid #3F4A3C;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 5px;
}

.requirements-form--text label::after {
  background-color: #3F4A3C;
  border-radius: 50%;
  opacity: 0;
  width: 16px;
  height: 16px;
  left: 8px
}

.requirements-form--text input:checked + label::after {
  opacity: 1;
}

.submit-button {
  width: 100%;
  padding: 8px;
  background-color: #51A243;
  color: #ffffff;
  border: none;
  border-radius: 28px;
  font-size: 24px;
  font-weight: bold;
}