{% extends 'base/base_user.html' %}
{% block head %}
  <title>FAQ詳細</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/components/header.css' %}" />
  <link rel="stylesheet" href="{% static 'css/FAQ/create.css' %}" />
{% endblock %}
{% block body %}
  {% include 'components/header.html' %}
  <form class="body--wrap" method="post">
    {% csrf_token %} 
    <div class="FAQ-create--title">質問フォーム</div>
    <div class="FAQ-create--contents">
      <div>
        <div class="FAQ-create--contents__title">質問タイトル</div>
        <input class="FAQ-create--contents__input FAQ-create--contents__input-text" placeholder="例：DOMについて" name="title" />
      </div>
      <div>
        <div class="FAQ-create--contents__title">質問チーム</div>
        <input class="FAQ-create--contents__input FAQ-create--contents__input-team" name="team_name" />
      </div>
      <div>
        <div class="FAQ-create--contents__title">質問領域</div>
        <select class="FAQ-create--contents__input" name="category">
          <option value="">選択してください</option>
          <option value="フロントエンド">フロントエンド</option>
          <option value="バックエンド">バックエンド</option>
          <option value="インフラ">インフラ</option>
          <option value="Git/GitHub">Git・GitHub</option>
        </select>
      </div>
      <div>
        <div class="FAQ-create--contents__title">質問内容</div>
        <textarea class="FAQ-create--contents__input FAQ-create--contents__input-textarea" name="content" placeholder="お疲れ様です。
DOMと仮想DOMの違いが調べても理解できなかったのですが、どの順序に理解を進めていけばいいのでしょうか？"></textarea>
      </div>
    </div>
    <input type="submit" class="FAQ-create--button" />
  </form>
{% endblock %}