{% extends 'base/base_user.html' %}
{% block head %}
  <title>FAQ</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/components/header.css' %}" />
  <link rel="stylesheet" href="{% static 'css/FAQ/index.css' %}" />
{% endblock %}
{% block body %}
  {% include 'components/header.html' %}
  <div class="body--wrap">
    <ul class="FAQ-lists">
      {% for question in questions %}
      <a href="{{question.id}}">
        <li class="FAQ-list">
          <div class="FAQ-list--left">
            <div class="FAQ-list--Q">Q</div>
            <div class="FAQ-list--title">{{question.title}}</div>
          </div>
          <div class="FAQ-list--right">
            {% if question.is_answer == 0 %}
            <div class="FAQ-list--attention">!</div>
            {% endif %}
            <div class="FAQ-list--arrow"></div>
          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
  <button class="FAQ--create" onClick="location.href='create'">＋新規作成</button>
{% endblock %}