{% extends 'base/base_user.html' %}
{% block head %}
  <title>FAQ</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/components/header.css' %}" />
  <link rel="stylesheet" href="{% static 'css/FAQ/index.css' %}" />
{% endblock %}
{% block body %}
  {% include 'components/header.html' %}
  <div class="body--wrap">
    <ul class="FAQ-lists">
      <li class="FAQ-list">
        <div class="FAQ-list--left">
          <div class="FAQ-list--Q">Q</div>
          <div class="FAQ-list--title">{タイトル}</div>
        </div>
        <div class="FAQ-list--right">
          <div class="FAQ-list--attention">!</div>
          <div class="FAQ-list--arrow"></div>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}