.requirements {
  background-color: #ffffff;
  border-radius: 20px;
  width: 68%;
  padding: 16px;
}

.requirements--titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requirements--titles__title {
  font-size: 40px;
}

.requirements--titles__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requirements--titles__contents-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.requirements--titles__contents-border {
  width: 100%;
  height: 4px;
  background-color: #51A243;
}

.requirements--titles__contents-main {
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.requirements--contents {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.requirements--contents__requirement {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.requirements--contents__title {
  font-size: 32px;
}

.requirements--contents__content {
  margin-left: 32px;
  font-size: 24px;
}

.requirements--contents__content-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.requirements--contents__content-tech-icon {
  background-color: #9AB292;
  width: 80px;
  height: 80px;
}

.requirements--contents__articles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.requirements--contents__article-list {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

.requirements--contents__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requirements--contents__article-img {
  background-color: #9AB292;
  width: 200px;
  height: 120px;
}

.requirements--contents__article-text {
  font-size: 20px;
}